.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__y7SV {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
}
.freeBox__y7SV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__y7SV > :global(.__wab_flex-container) > *,
.freeBox__y7SV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y7SV > :global(.__wab_flex-container) > picture > img,
.freeBox__y7SV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y7SV {
    padding: 32px;
  }
}
.freeBox__yDref {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__yDref > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yDref > :global(.__wab_flex-container) > *,
.freeBox__yDref > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yDref > :global(.__wab_flex-container) > picture > img,
.freeBox__yDref
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yDref {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yDref > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yDref > :global(.__wab_flex-container) > *,
  .freeBox__yDref > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yDref > :global(.__wab_flex-container) > picture > img,
  .freeBox__yDref
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__fj6G3 {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img__fj6G3 > picture > img {
  object-fit: cover;
}
.freeBox__bfSz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bfSz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__bfSz > :global(.__wab_flex-container) > *,
.freeBox__bfSz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bfSz > :global(.__wab_flex-container) > picture > img,
.freeBox__bfSz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bfSz > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bfSz > :global(.__wab_flex-container) > *,
  .freeBox__bfSz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bfSz > :global(.__wab_flex-container) > picture > img,
  .freeBox__bfSz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2__r36Gs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__qifMq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bTPt6 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zHPo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__jjLx0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__nxtv1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rbbR9 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nzH35 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__oD8Ra:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__efSuK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nolSr {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__eFhO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2___6UD3O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__pnLVz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lvVif {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__yCxFy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__l7JBt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2__eixMw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__hVExP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bqwVb {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nqgwD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ec7Wr {
  display: flex;
  flex-direction: column;
  background: none;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 128px 32px;
}
.freeBox__ec7Wr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__ec7Wr > :global(.__wab_flex-container) > *,
.freeBox__ec7Wr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ec7Wr > :global(.__wab_flex-container) > picture > img,
.freeBox__ec7Wr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___9SThn {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 0px;
}
.freeBox___9SThn > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___9SThn > :global(.__wab_flex-container) > *,
.freeBox___9SThn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9SThn > :global(.__wab_flex-container) > picture > img,
.freeBox___9SThn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__mlGoi {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__kooZz {
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__gqQr {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gqQr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__gqQr > :global(.__wab_flex-container) > *,
.freeBox__gqQr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gqQr > :global(.__wab_flex-container) > picture > img,
.freeBox__gqQr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button2__yzSDw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4TRhf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9YxEk {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___7AQr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__dx8RI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yc5F9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zgCMo {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__jekto {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hHxDi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
}
.freeBox__hHxDi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hHxDi > :global(.__wab_flex-container) > *,
.freeBox__hHxDi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hHxDi > :global(.__wab_flex-container) > picture > img,
.freeBox__hHxDi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.columns__bECnO {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
}
.columns__bECnO > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  --plsmc-rc-col-gap: 16px;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.columns__bECnO > :global(.__wab_flex-container) > *,
.columns__bECnO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__bECnO > :global(.__wab_flex-container) > picture > img,
.columns__bECnO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
.columns__bECnO {
  --plsmc-rc-col-gap: 0px;
}
.columns__bECnO > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bECnO > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bECnO > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bECnO {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bECnO > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bECnO > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__u0FqO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__u0FqO {
    width: 100%;
  }
}
.freeBox__aMk81 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background: rgba(68, 192, 255, 0.2);
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__sk6Xb {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__wgYxb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wgYxb {
    width: 100%;
  }
}
.freeBox__nOtCy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background: rgba(68, 192, 255, 0.2);
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__x36Zc {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__mUeIx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mUeIx {
    width: 100%;
  }
}
.freeBox__kTxrI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background: rgba(68, 192, 255, 0.2);
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__hcSt {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__hTw9E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hTw9E {
    width: 100%;
  }
}
.freeBox___6Lutm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background: rgba(68, 192, 255, 0.2);
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__kStBh {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__plv0V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__plv0V {
    width: 100%;
  }
}
.freeBox__efv8Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background: rgba(68, 192, 255, 0.2);
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__oa7Rv {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__bkg22 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bkg22 {
    width: 100%;
  }
}
.freeBox__wwbFu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background: rgba(68, 192, 255, 0.2);
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text___8Ihl8 {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__s7GrC {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 64px;
}
.columns__obwHz {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__obwHz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__obwHz > :global(.__wab_flex-container) > *,
.columns__obwHz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__obwHz > :global(.__wab_flex-container) > picture > img,
.columns__obwHz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__obwHz {
  --plsmc-rc-col-gap: 0px;
}
.columns__obwHz > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__obwHz > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__obwHz > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__obwHz > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__obwHz {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__obwHz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__obwHz > :global(.__wab_flex-container) > *,
  .columns__obwHz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__obwHz > :global(.__wab_flex-container) > picture > img,
  .columns__obwHz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__obwHz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uzGe6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uzGe6 {
    width: 100%;
  }
}
.freeBox__iw2R {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__iw2R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__iw2R > :global(.__wab_flex-container) > *,
.freeBox__iw2R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iw2R > :global(.__wab_flex-container) > picture > img,
.freeBox__iw2R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img___0RamN {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  opacity: 0.5;
  flex-shrink: 0;
}
.img___0RamN > picture > img {
  object-fit: cover;
}
.freeBox__vsPz2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vsPz2 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vsPz2 > :global(.__wab_flex-container) > *,
.freeBox__vsPz2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vsPz2 > :global(.__wab_flex-container) > picture > img,
.freeBox__vsPz2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ol9Rr {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__wBq8Z {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wBq8Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wBq8Z > :global(.__wab_flex-container) > *,
.freeBox__wBq8Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wBq8Z > :global(.__wab_flex-container) > picture > img,
.freeBox__wBq8Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__rI0Zu {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg__seHzv {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg__cnJOw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.column__lPOqJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lPOqJ {
    width: 100%;
  }
}
.freeBox__brnQh {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__brnQh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__brnQh > :global(.__wab_flex-container) > *,
.freeBox__brnQh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__brnQh > :global(.__wab_flex-container) > picture > img,
.freeBox__brnQh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__gBuFd {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button2__oknFp:global(.__wab_instance) {
  position: relative;
}
.svg__g0YUj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hmRNw {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zbE95 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2___5RyVl:global(.__wab_instance) {
  position: relative;
}
.svg__dVhU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jk45B {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___2SDpq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__zc2Sr:global(.__wab_instance) {
  position: relative;
}
.svg__ckE2B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wuFij {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bXvm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__wfQvE:global(.__wab_instance) {
  position: relative;
}
.svg__hQdXf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jk66R {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__b8OF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__uCvaA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uCvaA {
    width: 100%;
  }
}
.freeBox__yFce {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__yFce > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yFce > :global(.__wab_flex-container) > *,
.freeBox__yFce > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yFce > :global(.__wab_flex-container) > picture > img,
.freeBox__yFce
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__wsWy9 {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button2__k9Bqk:global(.__wab_instance) {
  position: relative;
}
.svg___1Qo2N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eCcSp {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__twmm4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__n37KZ:global(.__wab_instance) {
  position: relative;
}
.svg__a9XLj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__olA85 {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ammDn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__ndPkQ:global(.__wab_instance) {
  position: relative;
}
.svg__teUlL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qgt6N {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zKoWd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__qea0R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qea0R {
    width: 100%;
  }
}
.freeBox__zm0Ox {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__zm0Ox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zm0Ox > :global(.__wab_flex-container) > *,
.freeBox__zm0Ox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zm0Ox > :global(.__wab_flex-container) > picture > img,
.freeBox__zm0Ox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__eWvvH {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button2__sqGj:global(.__wab_instance) {
  position: relative;
}
.svg__i9BW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fuDfu {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__sX5K {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__ee0Fr:global(.__wab_instance) {
  position: relative;
}
.svg__sTU8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qouo {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ltD5H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__zAhR0:global(.__wab_instance) {
  position: relative;
}
.svg___3Fzmx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bs5Br {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qJKu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2___3Dgsb:global(.__wab_instance) {
  position: relative;
}
.svg___65M2H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mrOe {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__wtiQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
